
.container{
    display: block;
  }
  
  button { background: none; border: 0; color: inherit;}
  
  
  h6 {
      font-size: 0.7rem;
  }
  
  @media (max-width: 991.98px) { 
      .ocultoPhon{
          display: none;
      }
      
      .imagenCard{
          height: 30vh;
      }
      .imagenCard:hover {filter: opacity(.7);}
      
      .botonCarrito{
          margin-top: 8px;
          width: 6vw;
      }
      .cardText{
          font-size: 0.7rem;
      }
  }
  
  @media (min-width: 992px) {
      .ocultoDeskt{
          display: none;
      }
      .container{
          padding-left: 7vw;
          padding-right: 7vw;
      }
      .imagenCard{
          height: 50vh;
      }
      .imagenCard:hover {filter: opacity(.7);}
      
      .botonCarrito{
          padding-top: 5px;
          margin-top: 4px;
          width: 1.8vw;
          transition: 0.5s;
      }
      .botonCarrito:hover{
          width: 2vw;
      }
      .cardText{
          font-size: 0.7rem;
      }
  }