<div class="contenedor">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-xl-6">
            <img src="http://localhost:3000/images/{{producto.imagen}}" alt="">
        </div>
        <div class="col-lg-6 col-md-6 col-xl-6 detalles">
            <div class="cajaInfo">
                <h3>{{producto.nombre}}</h3>
            </div>
            <div class="cajaInfo">
                <span>{{producto.descripcion}}</span>
            </div>
            <div class="cajaInfo">
                <span>COLOR: {{producto.color}}</span>
            </div>
            <div class="cajaInfo">
                <span>TALLE: {{producto.talle}}</span>
            </div>
            <div class="cajaInfo">
                <span>${{producto.precio}}</span>
            </div>
            <div class="botones">
                <button class="botonComprar" (click)="agregarProducto(producto)">
                    AGREGAR AL CARRITO
                </button>
                <button class="botonVolver" (click)="volverAtras()">VOLVER</button>
            </div>
        </div>
    </div>
</div>
