<div style="height: 15vh;"></div>
<!-- vista productos hasta 992px--> 
<div class="container ocultoDeskt">  
    <div class="row pl-1 pr-1">
        <div class="col-6 col-md-6 p-1"  *ngFor="let producto of productos">
            <div class="card border border-0 rounded-0 mb-2">
                <img src="http://localhost:3000/images/{{producto.imagen}}" class="imagenCard img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title cardText text-uppercase text-center">{{producto.nombre}}</h5>
                    <p class="card-text cardText text-center">$ {{producto.precio}}</p>
                </div>
            </div>
        </div>             
    </div>
</div>

<!-- Vista productos a partir de 992px -->
<div class="container ocultoPhon">   
    <div class="row pl-1 pr-1">
        <div class="col-lg-3 col-xl-3 p-1"  *ngFor="let producto of productos">
            <div class="card border border-0 rounded-0 mb-2">
    
                        <img src="http://localhost:3000/images/{{producto.imagen}}" class="imagenCard img-fluid" alt="...">
                <div class="card-body">
                    <h5 class="card-title cardText text-uppercase text-center">{{producto.nombre}}</h5>
                    <p class="card-text cardText text-center">$ {{producto.precio}}</p>
                </div>
            </div>
        </div>              
    </div>
</div>