  <nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid d-xl-flex justify-content-xl-between">
      <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#">
        <img src="../../../assets/imagenes/logo.png" class="logo img-fluid" alt="">
      </a>
      <div class="collapse navbar-collapse d-lg-flex justify-content-lg-center" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active navText" aria-current="page" href="#" routerLink="/inicio">INICIO</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle navText" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              PRODUCTOS
            </a>
            <ul class="dropdown-menu customNav rounded-0" aria-labelledby="navbarDropdownMenuLink">
              <li><a class="dropdown-item customNav navText" routerLink="/productos">TODOS LOS PRODUCTOS</a></li>
              <li  *ngFor="let categoria of categorias"><a class="dropdown-item customNav text-uppercase navText" href="#" routerLink="/productos/{{categoria.nombreCategoria}}">{{categoria.nombreCategoria}}</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>