.customNav {
  background-color: white;
}

.logo{
  height: 7vh;
}

.dropdown-item:hover{
  transition-duration: 0,5s;
  background-color: #ABB2B9;
}

li:checked{
  background-color: #ABB2B9;
}

.navText{
  font-size: 0.8em;
  letter-spacing: 0.1em;
}