<div class="" id="fondo" (click)="cerrarNav()"></div>
<div class="menu-mobile">
  <fa-icon [icon]="bars" class="menu" (click)="abrirNav()"></fa-icon>
  <img src="../../../assets/imagenes/logo.png" class="logo img-fluid" alt="">
</div>
<nav class="sidenav" id="nav">
    <ul class="">
        <li class="" (click)="cerrarNav()">
          <a class="text-decoration-none" routerLink="/inicio">INICIO</a>
        </li>
        <li class="" (click)="cerrarNav()">
          <a class="text-decoration-none" routerLink="/productos" id="navbarDropdown">
            TODOS LOS PRODUCTOS
          </a>
        </li>
        <li *ngFor="let categoria of categorias" (click)="cerrarNav()">
          <a class="text-uppercase text-decoration-none" href="/productos/{{categoria.nombreCategoria}}">{{categoria.nombreCategoria}}</a>
        </li>
    </ul>
</nav>