<nav class="navbar navbar-expand-xl navbar-light nav-justified">
  <div class="container-fluid  justify-content-between">
    <a class="navbar-brand" href="#"><img src="../../../assets/imagenes/logo3.jpg" class="logo" alt=""></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#" routerLink="/inicio">Inicio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Productos
          </a>
          <ul class="dropdown-menu customNav rounded-0 shadow-lg" aria-labelledby="navbarDropdownMenuLink">
            <li><a class="dropdown-item customNav" routerLink="/productos">Todos los productos</a></li>
            <li  *ngFor="let categoria of categorias"><a class="dropdown-item customNav" href="#">{{categoria.nombreCategoria}}</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>