<div class="container d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
        <div class="col border rounded pb-4 pt-4">
            <form method="POST" action='' enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" [(ngModel)]="nombre" name="nombre" placeholder="nombre del producto" class="form-control">
                </div>          
                <div class="form-group">
                    <input type="text" [(ngModel)]="descripcion" name="descripcion" placeholder="descripcion" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="talle" name="talle" placeholder="talle" class="form-control">
                </div>
                <div class="form-group">
                    <input type="text" [(ngModel)]="color" name="color" placeholder="color" class="form-control">
                </div>
                <div class="form-group">
                    <input type="number" [(ngModel)]="precio" name="precio" placeholder="precio" class="form-control">
                </div>
                <div class="custom-file form-group">
                    <input type="file" class="custom-file-input" id="customFile" (change)="seleccionarImagen($event)">
                    <label class="custom-file-label" for="customFile">Agregar foto</label>
                  </div>
                <div class="d-flex justify-content-center mt-2">
                    <button type="submit" (click)="editarProductos()" class="btn btn-secondary btn-block">Editar</button>
                </div>
            </form>
        </div>
    </div>
</div>
