<div class="container">
    <div class="row">
        <div class="col-lg-6 col-xl-6 col-md-12 col-12">
            <div id="containerForm">
                <h1>&bull;Datos de compra&bull;</h1>
                <div class="underline">
                </div>
                <div class="icon_wrapper">
                </div>
                <form action="#" method="post" id="contact_form">
                    <div class="inputIzq">
                        <input type="text" placeholder="Nombre" [(ngModel)]="payer.name" name="nombre" required>
                    </div>
                    <div class="inputDer">
                        <input type="text" placeholder="Apellido" [(ngModel)]="payer.surname" name="apellido" required>
                    </div>
                    <div class="inputIzq">
                        <input type="email" placeholder="Email" [(ngModel)]="payer.email" name="email" required>
                    </div>
                    <div class="inputDer">
                        <input type="text" placeholder="DNI" name="DNI" [(ngModel)]="payer.identification.number" name="dni" required>
                    </div>
                    <label for="celular">Telefono:</label>
                    <br>
                    <div id="celular">
                        <div class="inputIzq">
                            <input type="text" placeholder="Cod. Area" [(ngModel)]="payer.phone.area_code" name="c.area" required>
                        </div>
                        <div class="inputDer">
                            <input type="text" placeholder="Numero" [(ngModel)]="payer.phone.number" name="numeroTel" required>
                        </div>
                    </div>
                    <label for="celular">Direccion:</label>
                    <br>
                    <div id="direccion">
                        <div class="inputIzq">
                            <input type="text" placeholder="Calle" [(ngModel)]="payer.address.street_name" name="calle" required>
                        </div>
                        <div class="inputDer">
                            <input type="text" placeholder="Numeracion" [(ngModel)]="payer.address.street_number" name="calleNum" required>
                        </div>
                    </div>
                    <div class="inputLargo">
                        <select placeholder="provincia" required (change)="traerLocalidades($event)" [(ngModel)]="shipsments.receiver_address.state_name" name="provincia">
                            <option hidden selected>Provincia</option>
                            <option *ngFor="let provincia of provincias" value="{{provincia.nombre}}">{{provincia.nombre}}</option>
                        </select>
                    </div>
                    <div class="inputLargo">
                        <select placeholder="localidad" required [(ngModel)]="shipsments.receiver_address.city_name" name="localidad">
                            <option hidden selected>Localidad</option>
                            <option *ngFor="let localidad of localidades" value="{{localidad.nombre}}">{{localidad.nombre}}</option>
                        </select>
                    </div>
                    <div class="inputLargo">
                        <input type="text" placeholder="codigoPostal" required [(ngModel)]="payer.address.zip_code" name="zip_code">
                    </div>
                    <div class="inputLargo">
                        <label for="entrega"></label>
                        <select placeholder="entrega" name="entrega" id="entrega" required>
                            <option hidden selected>Retiro/envio</option>
                            <option>Retiro en tienda</option>
                            <option>Envio a mi domicilio</option>
                        </select>
                    </div>
                    <a routerLink="/finalizar_pago">
                        <button type="submit" (click)="crearPreferencia()">Click</button>
                    </a>
                </form><!-- // End form -->
            </div><!-- // End #container -->
        </div>

        <div class="col-lg-2 col-xl-2">
            <button (click)="mandarPref()">mandar preference</button>
        </div>

        <div class="col-lg-4 col-xl-4 col-md-12 col-12">
        </div> 
    </div>

