

.cardText{
    font-size: 0.7em;
    letter-spacing: 0.1em;
}
button { background: none; border: 0; color: inherit;}

@media (max-width: 991.98px) { 
    .ocultoPhon{
        display: none;
    }
    
    .imagenCard{
        height: 35vh;
    }
    .imagenCard:hover {filter: opacity(.7);}
}

@media (min-width: 992px) {
    .ocultoDeskt{
        display: none;
    }

    .imagenCard{
        height: 65vh;
    }
    .imagenCard:hover {filter: opacity(.7);}
}